<div class="row">
    <div class="col-md-2"><img src="https://s3-us-west-1.amazonaws.com/coverhound-staging/testing/vacay2.png" alt="logo" width="70"></img></div>
    <div class="col-md-10">
        <nav class="navbar">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav pull-right">
                <li class="active"><a class="active" href="#">Plan A Trip</a></li>
                <li><a class="active" href="#">About</a></li>
                <li><a class="active" href="#">Contact</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="background"></div>
        <div class="loginbox">
        <img src="https://s3-us-west-1.amazonaws.com/coverhound-staging/testing/vacay1.png" alt="logo" width="220"></img>
            <h2 style="color: rgb(245,245,245);">Let us find your way.</h2>
            <!-- h4 Sign in with social -->
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <% end %>
            <!-- <button id="twitter-btn" i class="fa fa-twitter">&nbsp;&nbsp;Sign in With Twitter</i></button> <!-- "Sign in With Facebook/ Twitter" -->
            <%= button_to "Sign in With Twitter", user_omniauth_authorize_path(:twitter), class: "fa fa-twitter", id: "twitter-btn" %>
            <button id="facebook-btn" i class="fa fa-facebook">&nbsp;&nbsp;Sign in With Facebook</i></button>
        </div>
    </div>
<div>
